/*
=============== 
Global Styles
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:  'Poppins', sans-serif;;
  background-color:  #124dbf;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
 
 color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.wrapper {
  background-color: #fff;
  margin: 0.35vw 1vw;
  padding: 3px 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.role1 {
  background: url(../static/images/1.svg);
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-left: 290px;
  margin-top: 50px;
  float: left;
  color: black;
  cursor: pointer;
  background-color: antiquewhite;
  border: none;
}

.role2 {
  background: url(../static/images/2.svg);
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-left: 290px;
  margin-top: 50px;
  float: right;
  color: black;
  cursor: pointer;
  background-color: antiquewhite;
  border: none;
}

.role1:focus, .role1:hover {
  background-color: rgb(255, 206, 143);
}

.role2:focus, .role2:hover {
  background-color: rgb(255, 206, 143);
}

.roleText {
  user-select: none;
  background-color: #0c0f59;
  color: #fff;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.roleHolder{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

label {
  background-color: #0c0f59;
  padding:10px 40px;
  color: #fff;
  font-size: 20px;

  border-radius: 5px;
  
}

.roleText {
  user-select: none;
}


.row {
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}


.container{
  max-width: 80%;
  margin: 0 auto;
}

.roleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="number"] {
  text-align: center;
  -moz-appearance: textfield;
  width: 70vw;
  max-width: 800px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 25px;
  color: #000;
  
}

.buttonHolder{
  display: flex;
  justify-content: center;
  margin: 50px;
}
.submitButton {
  background-color: #ec5945;
  padding: 10px 70px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.submitButton:hover {
  background-color: #d1412e;
}

