@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  background-image: url('https://images.unsplash.com/photo-1444681179373-730055ddc7b6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTY0MjV8MHwxfHNlYXJjaHwxMHx8ZGF5fGVufDB8fHx8MTYxNjMxODM0MA&ixlib=rb-1.2.1&q=80&w=1080');
  object-fit: none;
  background-repeat: no-repeat;
  background-color: rgb(29, 29, 29);
  background-blend-mode: soft-light;
  background-size: cover;
}




.wrapper {
  background-color: #fff;
  height: 80vh;
  margin: 2vw;
  padding: 25px 20px;
  vertical-align: middle;
}

.dialogues {
  margin: 50px;
  height: 40vh;
  text-align: center;
  color: yellow;
  background-color: gray;
  padding: 130px;
}

.dialogue1 {
  font-size: 18px;
}

.nextDialogue {
  margin: -10px 50px;
  height: 5vh;
  text-align: center;
  color: darkred;
  background-color: lightgray;
  padding: 60px;
}

.dialogue2 {
  font-size: 13px;
}
