<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Rehearsal Website</title>

</head>

<body>
    <div class="wrapper">
        <form name="form" action="play/" method="POST">{% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-25">
                        <label for="sceneNum" class="scene">Enter Scene Number</label>
                    </div>
                    <div class="col-75">
                        <input type="number" name="sceneNum" id="sceneNum">
                    </div>
                </div>

                <div class="row">
                    <label for="chooseRole" class="role" id="role">Choose Your Role</label>
                </div>
                <div class="roleHolder">
                    <input type="hidden" value="3" name="character" id="character"></input>
                    <input type="button" value="Role #1" class="role1"
                        onclick="document.getElementById('character').value='1';">
                    </input>
                    <input type="button" value="Role #2" class="role2"
                        onclick="document.getElementById('character').value='2';">
                    </input>
                    <input type="button" value="Role #3" class="role3"
                        onclick="document.getElementById('character').value='3';">
                    </input>
                </div>
            </div>
            <div class="buttonHolder">
                <input type="submit" value="Start" class="submitButton">
            </div>

        </form>
    </div>
</body>


</html>