<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/play.css">
    <title>Play!</title>
</head>

<body>
    {% block content %}
    <div class="wrapper">
        <div class="sceneNum">
            <p>Scene No : {{sceneNum}}</p>
        </div>
        <div class="character">
            <p>Your Character : {{character}}</p>
        </div>
        <div class="dialogues">
            <script>
                const scene = {{ sceneNum }};
                var audioCounter = 0;
                var audioName = '';
                var myDialogue = '';
                function nextAudio() {
                    audioName = `../static/scriptAudio/${scene}_${audioCounter}.mp3`;
                    document.getElementById("audioplayer").src = audioName;
                    document.getElementById("test").innerHTML = audioName;
                    if (audioCounter < {{ maxAudio }
                }) {
                    audioCounter += 1;
                }else { audioCounter = 0; }
                      }
            </script>
            <audio controls autoplay id='audioplayer'>
                <source type="audio/mpeg">
            </audio>
            <br>
            <input type="button" class="nextButton" value="Next Dialog" onclick="nextAudio();"></input>

            <!-- <p id="test"> this is a debug display</p> -->

            <p class="dialogue1" id="myDialogue">
                But my lord… you have no sword and no armor. However will you destroy that dragon?
                <source src='{{scriptPath}}'>
            </p>
        </div>
        <div class="nextDialogue">
            <p class="dialogue2">
                With the courage of my heart. Hyah! Go, horse! We will slay this dragon once and for all.
            </p>
        </div>
        <img src="#" alt="">
    </div>
    {% endblock %}
</body>

</html>