<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play!</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="character">
            <p>{{character}}</p>
        </div>
        <div class="lowerhalf">
            <div class="dialogues">
                <div class="dialogue">

                </div>
            </div>
            <img src="#" alt="">
        </div>
    </div>
    {% endblock %}
</body>

</html>
